body{
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  width: 50%;
  border: 1px solid black;
  border-radius: 1.5rem;
}

.container{
  padding: 1rem;
}

form {
  margin: 0 auto;
}

button {
  margin: 10px;
}
